.wrap-layer {
    position: relative;
}

.background {
    background-image: url(backgrounds/background.svg);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.heading {
    width: 100%;
    display: block;
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: 40px;
    color: black;
    text-align: center;
    position: absolute;
    clear: both;
    left: 50px;
}

.paragraph {
    display: block;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 16px;
    color: black;
    text-align: justify;
    position: absolute;
    left: 800px;
    top: 160px;
    width: 600px;
    word-wrap: break-word;
    line-height: 1.6;
}

.paragraph3 {
    display: block;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 20px;
    color: black;
    text-align: justify;
    position: absolute;
    
    top: 160px;
    width: 600px;
    word-wrap: break-word;
    line-height: 1.6;
}

.paragraph4 {
    display: block;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 20px;
    color: black;
    text-align: justify;
    position: relative; 
    top: 0px;
    width: 600px;
    word-wrap: break-word;
    line-height: 1.6;
    left: 40rem;
}

.link {
    display: block;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 21px;
    text-align: center;
    position: absolute;
    left: 800px;
    top: 350px;
    width: 600px;
    word-wrap: break-word;
}

.link-danger:hover {
    color: #0080ff !important;
}

.background2 {
    background-image: url(backgrounds/doctor.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 100%;
    
}

.background3 {
    background-image: url(backgrounds/faq.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size:30%;
    
}


.bodytext{
    font-family: "Comfortaa";
}

.heading2 {
    width: 100%;
    display: block;
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: 40px;
    color: black;
    text-align: center;
    position: absolute;
    clear: both;
}

.card {
    width: 50rem;
    height: 50rem;
}

.card-body {
    background-color: red;
    opacity: 20%;
}

.questions {
    display: block;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 18px;
}

.radio-group label::after {
    content: '\00a0\00a0\00a0\00a0';
    /* eq &nbsp; x 4 */
}

img {
    width: 15vw;
    height: 15vw;
    border: 1px solid grey;
}

input[type=radio] {
    display: none;
}

input[class=chb] {
    display: inline;
    width: 25px;
    height: 25px;
}

img:hover {
    opacity: 0.6;
    cursor: pointer;
}

img:active {
    opacity: 0.3;
    cursor: pointer;
}

input[type=radio]:checked+label>img {
    border: 3px solid black;
}

.tab {
    tab-size: 8;
}

.scale {
    font-weight: bold;
}

td,
th {
    padding: 6px;
    text-align: center;
    border: none !important;
}

tr {
    border-top: 10px solid black;
}

tr:first-child {
    border-top: none;
}

table {
    border-spacing: 30px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    border-collapse: collapse;
}

input[type=checkbox] {
    background: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 15px;
    height: 15px;
}

input[type=checkbox]:checked {
    background: #abd;
}

input[type=number] {
    width: 20rem;
}

.faq {
    width: 100%;
    height: 20rem;
    border: 0px;
    opacity: 1;
}

.faq:hover {
    pointer-events: none !important;
    opacity: 1;
}

.analysis {
    width: 100% !important;
    height: 100% !important;
    border: 0px !important;
    position: relative;
    left: -100px;
    top: 18rem;
}

.disclaimer {
    left: -12rem;
    position: relative;
    width:100%;
    display: block;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 16px;
    text-align: justify;
    position: absolute;
    width: 90%;
    word-wrap: break-word;
    top: 53rem;
    left: 2rem;
    line-height: 1.6;
}

.analysis:hover {
    pointer-events: none;
    opacity: 1;
}

.carAcc {
    width: 150%;
    height: 20rem;
    border: 0px;
    opacity: 1;
}

.carAcc:hover {
    pointer-events: none !important;
    opacity: 1;
}

.happynews {
    width: 150%;
    height: 35rem;
    border: 0px;
    opacity: 1;
    vertical-align: bottom;
}

.happynews:hover {
    pointer-events: none !important;
    opacity: 1;
}

.sadnews {
    width: 150%;
    height: 35rem;
    border: 0px;
    opacity: 1;
    vertical-align: bottom;
}

.sadnews:hover {
    pointer-events: none !important;
    opacity: 1;
}


nav {
    top: 0px;
    background-color: #0F52BA;
}

.navbarLinks {
    font-family: "Comfortaa";
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: black !important;
}

.gifstyle {
    width: 60% !important;
    height: 60% !important;
    align-items: right;
    border: 0px !important;
    position: relative;
    top: -20px;
    z-index: -1;
    left: 450px;
}

.gifstyle:hover {
    pointer-events: none;
    opacity: 1;
}